// See: https://github.com/skalee/fotorelacjonusz/blob/master/docs/INSTALL-SOURCE.adoc

#ifndef SECRETS_H
#define SECRETS_H

#define IMGUR_CLIENT_ID ""
#define IMGUR_CLIENT_SECRET ""
#define IMAGESHACK_KEY ""
#define PASSWORD_RAW_KEY ""

#endif // SECRETS_H
