// See: https://github.com/skalee/fotorelacjonusz/blob/master/docs/INSTALL-SOURCE.adoc

#ifndef SECRETS_H
#define SECRETS_H

/**
 * Client ID for Imgur application.
 *
 * You can create a new application at:
 * https://imgur.com/account/settings/apps
 */
#define IMGUR_CLIENT_ID ""

/**
 * Client Secret for Imgur application.
 *
 * You can create a new application at:
 * https://imgur.com/account/settings/apps
 */
#define IMGUR_CLIENT_SECRET ""

/**
 * API Key for Imageshack uploader.
 *
 * Can be left blank, because ImageShack uploader has been disabled.
 */
#define IMAGESHACK_KEY ""

/**
 * Password which is used to encrypt settings which should not be saved in
 * a cleartext, like FTP password.
 *
 * Encryption algorithm is XOR.  And password can be extracted from executable
 * anyway.  Be aware of implications, don't trust this "encryption" too much.
 *
 * You can write anything here, the longer the better.  But don't leave it blank
 * or you will experience crashes when updating settings.
 *
 * You can use https://passwordsgenerator.net/ to generate some random string.
 */
#define PASSWORD_RAW_KEY ""

#endif // SECRETS_H
