Package: fotorelacjonusz
Version: x.x.x
Section: net
Priority: optional
Architecture: i386
Depends: libqt4-core (>= 4:4.8), libqt4-gui (>= 4:4.8), libqt4-xml, libqt4-xmlpatterns (>= 4:4.6), libqtwebkit4, libqt4-script (>= 4:4.3), libqt4-network (>= 4:4.8), libc6
Maintainer: Kamil Ostaszewski <fotorelacjonusz@k14.vdl.pl>
Homepage: http://sourceforge.net/projects/fotorelacjonusz/
Description: Official skyscrapercity.com application for posting photos
 The typical thing of FPW (polish section on skyscrapercity.com) is posting extensive "photo reports" of road construction progress and other building sites. This application is made to facilitate process of preparation and posting photos on SSC. It does everything for you. Just toss your photos straight from a memory card into the application, click a few times and photos end up on the forum.
